<!-- Footer -->
<footer class="page-footer font-small bg-light pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Location</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{% url 'home' %}">Tech</a>
          </li>
          <li>
            <a href="{% url 'home' %}">Fiction</a>
          </li>
          <li>
            <a href="{% url 'home' %}">Learning</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <h5>Mboto Gallery </h5>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
